@model List<SDM.Main.Models.TempItem>
@{    
    ViewBag.Title = "Items";
}

<h2>Items</h2>

@Html.ActionLink("Add", "Edit")
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>        
        @foreach (var item in Model)
        {
            <tr class="@(ViewBag.HighlightId==item.ID?"grid-highlight":"")">
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = @item.ID })
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = @item.ID })
                </td>
            </tr>
        }    
    </tbody>
</table>
