@* ReSharper disable RedundantNameQualifier *@
@inherits System.Web.Mvc.WebViewPage<MvcControls.Controls.DataGrid.DataGridRenderInfo>
@* ReSharper restore RedundantNameQualifier *@
@{
    string gridName = Model.Name;
}
<div id="@gridName" style="border: 1px dotted black;">
    @Model.EditModule.RenderInitializeCode()
    <div>
        @* ReSharper disable AccessToForEachVariableInClosure *@
        @foreach (var button in Model.PanelControls)
        {
            @button
        }
        @* ReSharper restore AccessToForEachVariableInClosure *@
    </div>
    <table data-grid-id="Table" style="width: @Model.Width;">
        <thead>
            <tr>
                @foreach (var column in this.Model.Columns)
                {
                    <th id="@Html.Encode(column.Name)">@Html.Encode(column.DisplayText)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @Model.EditModule.RenderNewLineRow()
            @foreach (var row in this.Model.DataSource)
            {
                <tr>
                    @foreach (var column in this.Model.Columns)
                    {
                        if (column.PropertyValueSelector != null)
                        {
                            <td>@Html.Encode(column.PropertyValueSelector(row))
                            </td>
                        }
                        else
                        {
                            <td>@column.HtmlRenderer(row)
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>