@* ReSharper disable RedundantNameQualifier *@
@inherits System.Web.Mvc.WebViewPage<MvcControls.Controls.DataGrid.DataGridInlineFormEditModule>
@* ReSharper restore RedundantNameQualifier *@
<tr>
    <td colspan="@Model.RenderInfo.Columns.Count">
        @* render "Click here to add new row line" *@
        <div data-grid-id="NewRowDisplayContent" 
             style="text-align: center; color: gray; font-style: italic; font-size: smaller; cursor: pointer;"
             onclick="@(Model.RenderInfo.Name).OnNewRowClicked()">
            @Model.NewLineDisplayContent
        </div>
        @* render hidden template for New Row Content *@
        <div data-grid-id="NewRowContentTemplate" style="display: none;">
            <div data-grid-id="ContentPlaceHolder">
            </div>
            <div style="text-align: center;">
                <button type="button" onclick="@(Model.RenderInfo.Name).OnNewRowSaveButtonClicked(this)">@Model.SaveButtonText</button>
                <button type="button" onclick="@(Model.RenderInfo.Name).OnNewRowSaveNewButtonClicked(this, true)">@Model.SaveNewButtonText</button>
                <button type="button" onclick="@(Model.RenderInfo.Name).OnNewRowCancelButtonClicked(this)">@Model.CancelButtonText</button>
            </div>
        </div>
        @* render hidden content space *@
        <div data-grid-id="NewRowContentPanel" style="display: none;">
        </div>
    </td>
</tr>
