@using SettingsTexts = SDM.Main.Areas.App.Views.Settings.Texts
@using WarehouseTexts = SDM.Main.Areas.App.Views.Warehouse.Texts
@inherits WebViewPage<dynamic>, ILocalizable<SettingsTexts>, ILocalizable<WarehouseTexts>
@{    
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
</head>
<body style="margin: 0px;">
    <!-- top menu -->
    <div style="width: 100%; background: lightyellow; overflow: auto;">
        <!-- top-left menu -->
        <div style="float: left; margin-left: 10px; margin-right: 10px;">
            @Html.ActionLink(this.Localize<WarehouseTexts>(t => t.ItemsManagement), "Items", "Warehouse")
        </div>
        <!-- top-right menu -->
        <div style="float: right; margin-left: 10px; margin-right: 10px;">
            @Html.Encode(this.Localize<SettingsTexts>(t => t.Hi))
            <b>@this.ViewBag.UserName</b>
            |
            @if(this.ViewBag.IsAdmin)
            {
                // show additional links
                @Html.ActionLink(this.Localize<SettingsTexts>(t => t.Shared.System), "System", "Settings")
                @:|
            }
            @Html.ActionLink(this.Localize<SettingsTexts>(t => t.Shared.Settings), "Index", "Settings")
            |
            @Html.ActionLink(this.Localize<SettingsTexts>(t => t.Shared.Logout), "Logout", "Home")
        </div>
    </div>
    <div style="margin: 5px;">
        @RenderBody()
    </div>
</body>
</html>
