@using MvcControls
@using MvcControls.Controls.Base
@using MvcControls.Controls.Button
@using MvcControls.Controls.Parameters
@using SDM.Domain.Models
@using ViewTexts = SDM.Main.Areas.App.Views.Purchase.Texts;
@using ModelTexts = SDM.Domain.Models.PurchaseTransactionModel.Texts;
@inherits WebViewPage<PurchaseTransactionModel>, ILocalizable<ViewTexts>, ILocalizable<ModelTexts>
@{
    var isAddMode = Model != null && Model.IsNew;
    ViewBag.Title = isAddMode ? this.Localize<ViewTexts>(t => t.AddTransaction) : this.Localize<ViewTexts>(t => t.EditTransaction);
}
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(t => t.Time, this.Localize<ModelTexts>(t => t.Time))
        @Html.TextBoxFor(t => t.Time)
        @*@Html.LabelFor(t => t.Supplier, this.Localize<ModelTexts>(t => t.Supplier))
        @Html.TextBoxFor(t => t.Supplier)*@
        @Html.Custom().TextBox().Bind(t => t.Supplier).Settings(
        s =>
            {
                s.LabelText = "Supplier";
                s.AutoCompleteDataSource = new ActionParameter("GetSuppliers");
            })
    </div>
    <div>
        @Html.ValidationSummary()
        @Html.Custom().Render((IHtmlControl)ViewBag.ResultMessage)
    </div>
    @Html.Custom().Button().Settings(s =>
                                         {
                                             s.Text = this.Localize<ViewTexts>(t => isAddMode ? t.Shared.Add : t.Shared.Save);
                                             s.Type = ButtonControlRenderInfo.ButtonType.Submit;
                                         })
    @Html.Custom().Button().Settings(s =>
                                         {
                                             s.Text = this.Localize<ViewTexts>(t => t.Shared.Cancel);
                                             s.Action = new ActionParameter("Transactions");
                                         })
}
