@using SDM.Localization.Core
@using SDM.Main.Views.Home
@inherits WebViewPage<HomeIndexViewModel>, ILocalizable<HomeIndexViewTexts>
@{    
    ViewBag.Title = "Home";
}
<div>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(t => t.UserName, this.Localize(t => t.UserName))
            @Html.TextBoxFor(t => t.UserName)
            @Html.ValidationMessageFor(t => t.UserName)
        </div>
        <div>
            @Html.LabelFor(t => t.Password, this.Localize(t => t.Password))
            @Html.PasswordFor(t => t.Password)
            @Html.ValidationMessageFor(t => t.Password)
        </div>
        if (Model != null && !string.IsNullOrEmpty(Model.LoginErrorMessage))
        {
        <div class="message-error">@Html.Encode(Model.LoginErrorMessage)</div>
        }
        <div>
            @Html.CheckBoxFor(t => t.IsRememberMe)
            @Html.LabelFor(t => t.IsRememberMe, this.Localize(t => t.RememberMe))
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    }
</div>
<div class="position-bottom" style="border-top: black 1px solid; left: 0px; right: 0px;">
    Click @Html.ActionLink("here", "Index", "AdminHome", new { area = "Admin" }, null)
    to access Admin Control Panel.
</div>
