@using MvcControls
@using SDM.Main.Areas.App.Views.Settings;
@inherits WebViewPage<ChangePasswordViewModel>, ILocalizable<Texts>
@using (Html.BeginForm("ChangePassword", "Settings"))
{
    <div>
        @Html.LabelFor(t => t.CurrentPassword, this.Localize(t => t.CurrentPassword))
        @Html.PasswordFor(t => t.CurrentPassword)
        @Html.ValidationMessageFor(t => t.CurrentPassword)
    </div>
    <div>
        @Html.LabelFor(t => t.NewPassword, this.Localize(t => t.NewPassword))
        @Html.PasswordFor(t => t.NewPassword)
        @Html.ValidationMessageFor(t => t.NewPassword)
    </div>
    <div>
        @Html.LabelFor(t => t.NewPassword2, this.Localize(t => t.NewPassword2))
        @Html.PasswordFor(t => t.NewPassword2)
        @Html.ValidationMessageFor(t => t.NewPassword2)
    </div>
    <div>
        @Html.Custom().Render(t => t.Message)
    </div>
    <div>
        <button type="submit">@Html.Encode(this.Localize(t => t.Shared.Save))</button>
    </div>
}